
!.gitignore

__pycache__
checkpoints/*
pretrain_ckpt/*
result/*
log
./log


data_process/amazon18_data
data/
data_process/MQL4GRec
data_process/jobs

.cachemodels/
cache_models/

cache_models/
.cache*/



.vscode/cache_models/
jobs/